# Virtual environment
venv/
*.venv
env/

# # Data files (assuming they are large and downloaded via API/script)
# data/
# *.zip
# *.csv

# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings specific to your machine
.vscode/

# Mac system files
.DS_Store

#kaggle zip files
instacart-market-basket-analysis.zip
instacart-online-grocery-basket-analysis-dataset.zip

#ignore data, but add exceptions
data/
*.csv
*.zip



# !data/partB_user_features.csv
# !data/partB_product_features.csv
# !data/products.csv
# !data/user_to_prior_products.pkl

# !partB_user_aisle_counts.csv
# !data/partB_user_dept_rrates.csv
# !data/partB_user_aisle_rrates.csv

# !data/final_features_15.csv
# !data/orders.csv
# !data/order_products__prior.csv


