# requirements.tx
requests
streamlit
pandas
numpy
xgboost
lightgbm
scikit-learn
scipy
#pickle5 # Sometimes needed for pickle compatibility across python versions

# Optional - Add only if you explicitly load models using joblib
# joblib

# Optional - Add Pillow if st.image has issues, but usually not needed
# Pillow